@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<WorkTask2.Models.ViewModel.FeedNews>


<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    @foreach (var q in Model)
    {
        <h3>@q.Title</h3>
        <p>@q.Description</p>
        <a href="@q.Link"> Читать далее</a>
    }

    <a href="https://habr.com/rss/interesting/">Ссылка задачи</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
